body {
    font-family: Arial;
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.container {
    width: 600px;
    height: 500px;
    margin-top: 70px;
    background-color: white;
    color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;

}
.input  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 100px;
    border-top: none;
    border-right: none;
    border-left: none;
}
.wrong {
    position: absolute;
    text-align: center;
    top: 240px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
.wrong p {
    background-color: coral;
    border-radius: 10px;
    padding: 10px 20px;
    min-width: 400px;
    margin: 0;
}
h1 {
    color: black;
    position: absolute;
    top: 25%;
    left: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: max-content;

}
button {
    padding: 10px;
    width: 160px;
    color: grey;
    
}
input {
    border-top: none;
    border-right: none;
    border-left: none;
}
input:focus {
    outline: none;
}